#green{
    background-color: #97c166;
    color: #97c166;
    margin-right: 95%;
}

#red{
    background-color: #b71f1f;
    color: #b71f1f;
    margin-right: 95%;
}

#blue{
    background-color: #5969e0;
    color: #5969e0;
    margin-right: 95%;
}

